[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/simplog"]
	path = themes/simplog
	url = https://github.com/michimani/simplog.git
